# Weaving the data threads of Maji Ndogo's narrative
Maji Ndogo: From analysis to action

In this stage, we will be integrating the auditor's report into the database, which will add valuable insights and recommendations for further improvement. This integration will enhance the overall functionality and effectiveness of the database..

# Overview:

#### 1. Generating an ERD:
Understanding the database structure

#### 2. Integrating the report:
Adding the auditor report to our database

#### 3. Linking records:
Joining employee data to the report

#### 4. Gathering evidence:
Building a complex query seeking truth

### Connecting to our MySQL database

Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name.

%sql mysql+pymysql://root:November28!@localhost:3306/md_water_services

'Connected: root@md_water_services'

# 1. Generating an ERD:
    
Before proceeding with the addition of the ERD diagram, it is essential to review the auditor's report and address any issues highlighted. This will ensure that the ERD accurately represents the current state of the database and reflects the necessary modifications based on the audit findings.

By incorporating the ERD diagram, we will have a visual representation of the database structure and its relationships, providing a clearer understanding of the data architecture. This will serve as a valuable reference for future analysis, decision-making, and communication with stakeholders.

Let's proceed with adding the ERD diagram and continue our journey towards transforming Maji Ndogo's narrative into actionable insights and positive change.

![Image Description](ERD.png)

# 2. Intergrating the Auditor's report

We begin by creating a new SQL query to drop the auditor_report table if it already exists and create a new table with the specified columns. Then import the auditor.csv file

In [3]:
%%sql

DROP TABLE IF EXISTS `auditor_report`;
CREATE TABLE `auditor_report` (
  `location_id` VARCHAR(32),
  `type_of_water_source` VARCHAR(64),
  `true_water_source_score` INT DEFAULT NULL,
  `statements` VARCHAR(255)
);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.
0 rows affected.

[]

##### Lets view what we just imported.

In [6]:
%%sql

SELECT *
FROM auditor_report
Limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 'well', 1, "Residents admired the official's commitment to enhancing urban life, praising their cooperative and inclusive approach."),
 ('AkRu08112', 'well', 3, "Villagers spoke highly of the official's dedication and genuine interest in their lives, fostering a sense of belonging and appreciation."),
 ('AkLu02044', 'river', 0, "Villagers were touched by the official's interactions, noting their humility, strong work ethic, and respectful attitude."),
 ('AkHa00421', 'well', 3, "Villagers were moved by the official's visit, praising their hard work, humility, and the profound sense of connection they fostered."),
 ('SoRu35221', 'river', 0, "A photographer's lens captures the queue, though his own struggle for water is a hidden part of the story."),
 ('HaAm16170', 'well', 1, 'With an open heart, the official created an atmosphere of unity and familial camaraderie among the villagers.'),
 ('AkRu04812', 'well', 3, "The official's presence left an indelible mark, reflecting their humility, dedication, and the genuine connections they nurtured."),
 ('AkRu08304', 'well', 3, "The official's interactions resonated deeply with the villagers, leaving a lasting impression of respect and camaraderie."),
 ('AkRu05107', 'well', 2, "Villagers spoke highly of the official's dedication and genuine interest in their lives, fostering a sense of belonging and appreciation."),
 ('AkRu05215', 'well', 3, "Villagers admired the official's visit for its respectful interactions, hard work, and genuine concern.")]

I see a location_id, type of water source at that location, and the quality score of the water source, that is now independently measured. Our auditor also investigated each site a bit by speaking to a few locals. Their statements are also captured in his results.

We need to tackle a couple of questions here.

 1. Is there a difference in the scores?

 2. If so, are there patterns?

#### 1. Is there a difference in the scores?

For this question, we will have to compare the quality scores in the water_quality table to the auditor's scores. The auditor_report table used location_id, but the quality scores table only has a record_id we can use. The visits table links location_id and record_id, so we can link the auditor_report table and water_quality using the visits table.

##### So first, we grab the location_id and true_water_source_score columns from auditor_report

In [7]:
%%sql

SELECT
    location_id,
    true_water_source_score
FROM
    auditor_report
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoRu34980', 1),
 ('AkRu08112', 3),
 ('AkLu02044', 0),
 ('AkHa00421', 3),
 ('SoRu35221', 0)]

##### Now, we join the visits table to the auditor_report table. Making sure to grab subjective_quality_score, record_id and location_id.

In [9]:
%%sql

SELECT
    auditor_report.location_id AS audit_location,
    auditor_report.true_water_source_score,
    visits.location_id AS visit_location,
    visits.record_id
FROM
  auditor_report
JOIN
    visits 
    ON auditor_report.location_id = visits.location_id
Limit 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185),
 ('AkRu08112', 3, 'AkRu08112', 59367),
 ('AkLu02044', 0, 'AkLu02044', 37379),
 ('AkHa00421', 3, 'AkHa00421', 51627),
 ('SoRu35221', 0, 'SoRu35221', 28758)]

##### Now we retrieve the corresponding scores from the water_quality table, performing another join operation using the record_id as the connecting key

In [10]:
%%sql

SELECT
  auditor_report.location_id AS audit_location,
  auditor_report.true_water_source_score,
  visits.location_id AS visit_location,
  visits.record_id,
  water_quality.subjective_quality_score
FROM
  auditor_report
JOIN
  visits ON auditor_report.location_id = visits.location_id
JOIN
  water_quality ON visits.record_id = water_quality.record_id
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185, 1),
 ('AkRu08112', 3, 'AkRu08112', 59367, 3),
 ('AkLu02044', 0, 'AkLu02044', 37379, 0),
 ('AkHa00421', 3, 'AkHa00421', 51627, 3),
 ('SoRu35221', 0, 'SoRu35221', 28758, 0)]

##### Clean up the resulting table by removing duplicate columns and renaming them for clarity

In [11]:
%%sql

SELECT
  visits.location_id AS location_id,
  visits.record_id,
  auditor_report.true_water_source_score AS auditor_score,
  water_quality.subjective_quality_score AS employee_score
FROM
  auditor_report
JOIN
  visits ON auditor_report.location_id = visits.location_id
JOIN
  water_quality ON visits.record_id = water_quality.record_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 5185, 1, 1),
 ('AkRu08112', 59367, 3, 3),
 ('AkLu02044', 37379, 0, 0),
 ('AkHa00421', 51627, 3, 3),
 ('SoRu35221', 28758, 0, 0),
 ('HaAm16170', 31048, 1, 1),
 ('AkRu04812', 1513, 3, 3),
 ('AkRu08304', 1218, 3, 3),
 ('AkRu05107', 8322, 2, 2),
 ('AkRu05215', 21160, 3, 10)]

##### Ok, let's analyse! A good starting point is to check if the auditor's and exployees' scores agree. We will use a WHERE clause and check if surveyor_score = auditor_score.

In [13]:
%%sql

SELECT
  visits.location_id AS location_id,
  visits.record_id,
  auditor_report.true_water_source_score AS auditor_score,
  water_quality.subjective_quality_score AS employee_score
FROM
  auditor_report
JOIN
  visits ON auditor_report.location_id = visits.location_id
JOIN
  water_quality ON visits.record_id = water_quality.record_id
WHERE
  auditor_report.true_water_source_score = water_quality.subjective_quality_score

LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
20 rows affected.

[('SoRu34980', 5185, 1, 1),
 ('AkRu08112', 59367, 3, 3),
 ('AkLu02044', 37379, 0, 0),
 ('AkHa00421', 51627, 3, 3),
 ('SoRu35221', 28758, 0, 0),
 ('HaAm16170', 31048, 1, 1),
 ('AkRu04812', 1513, 3, 3),
 ('AkRu08304', 1218, 3, 3),
 ('AkRu05107', 8322, 2, 2),
 ('HaDe16541', 13070, 2, 2),
 ('KiRu30351', 54220, 9, 9),
 ('AmAm09813', 191, 4, 4),
 ('SoRu37005', 51172, 0, 0),
 ('KiRu26067', 21010, 3, 3),
 ('KiRu26067', 21098, 3, 3),
 ('KiRu26067', 21162, 3, 3),
 ('KiRu26067', 21254, 3, 3),
 ('KiRu26067', 21281, 3, 3),
 ('KiRu26067', 21315, 3, 3),
 ('KiRu26067', 21403, 3, 3)]

##### We got 2505 rows. Some of the locations were visited multiple times, so these records are duplicated here. To fix it, we set visits.visit_count = 1 in the WHERE clause.

In [16]:
%%sql

SELECT
  visits.location_id AS location_id,
  visits.record_id,
  auditor_report.true_water_source_score AS auditor_score,
  water_quality.subjective_quality_score AS employee_score
FROM
  auditor_report
JOIN
  visits ON auditor_report.location_id = visits.location_id
JOIN
  water_quality ON visits.record_id = water_quality.record_id
WHERE
  auditor_report.true_water_source_score = water_quality.subjective_quality_score
  AND visits.visit_count = 1
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
20 rows affected.

[('SoRu34980', 5185, 1, 1),
 ('AkRu08112', 59367, 3, 3),
 ('AkLu02044', 37379, 0, 0),
 ('AkHa00421', 51627, 3, 3),
 ('SoRu35221', 28758, 0, 0),
 ('HaAm16170', 31048, 1, 1),
 ('AkRu04812', 1513, 3, 3),
 ('AkRu08304', 1218, 3, 3),
 ('AkRu05107', 8322, 2, 2),
 ('HaDe16541', 13070, 2, 2),
 ('KiRu30351', 54220, 9, 9),
 ('AmAm09813', 191, 4, 4),
 ('SoRu37005', 51172, 0, 0),
 ('KiRu26067', 21010, 3, 3),
 ('SoRu37100', 40276, 0, 0),
 ('AmDa11611', 38071, 1, 1),
 ('AkRu07801', 25278, 3, 3),
 ('KiZu31015', 47319, 3, 3),
 ('KiIs24026', 2942, 2, 2),
 ('AkRu08480', 47118, 2, 2)]

With the duplicates removed we now get 1518. What does this mean considering the auditor visited 1620 sites? I think that is an excellent result. 1518/1620 = 94% of the records the auditor checked were correct! But that means that 102 records are incorrect. So let's look at those.

#### Lets check for the incorrect records

In [18]:
%%sql

SELECT
  visits.location_id AS location_id,
  visits.record_id,
  auditor_report.true_water_source_score AS auditor_score,
  water_quality.subjective_quality_score AS employee_score
FROM
  auditor_report
JOIN
  visits ON auditor_report.location_id = visits.location_id
JOIN
  water_quality ON visits.record_id = water_quality.record_id
WHERE
  auditor_report.true_water_source_score != water_quality.subjective_quality_score
  AND visits.visit_count = 1
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
20 rows affected.

[('AkRu05215', 21160, 3, 10),
 ('KiRu29290', 7938, 3, 10),
 ('KiHa22748', 43140, 9, 10),
 ('SoRu37841', 18495, 6, 10),
 ('KiRu27884', 33931, 1, 10),
 ('KiZu31170', 17950, 9, 10),
 ('KiZu31370', 36864, 3, 10),
 ('AkRu06495', 45924, 2, 10),
 ('HaRu17528', 30524, 1, 10),
 ('SoRu38331', 13192, 3, 10),
 ('AmRu15556', 15461, 9, 10),
 ('AmAm09607', 55067, 9, 10),
 ('AkHa00314', 29407, 9, 10),
 ('KiRu26598', 28874, 9, 10),
 ('KiIs23853', 55796, 2, 10),
 ('AkRu03475', 33630, 1, 10),
 ('KiIs24083', 28404, 2, 10),
 ('AmAm09631', 14211, 9, 10),
 ('KiRu30343', 51075, 2, 10),
 ('AmRu13668', 10586, 9, 10)]

Since we used some of this data in our previous analyses, we need to make sure those results are still valid, now we know some of them are incorrect. We didn't use the scores that much, but we relied a lot on the type_of_water_source, so let's check if there are any errors there

So, to do this, we need to grab the type_of_water_source column from the water_source table and call it survey_source, using the source_id column to JOIN. Also select the type_of_water_source from the auditor_report table, and call it auditor_source.

In [20]:
%%sql

SELECT 
    v.location_id, 
    ar.type_of_water_source AS auditor_source, 
    ws.type_of_water_source AS survey_source, 
    v.record_id, 
    ar.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS employee_score
FROM 
    visits v
JOIN 
    water_source ws ON v.source_id = ws.source_id
JOIN 
    auditor_report ar ON v.location_id = ar.location_id
JOIN 
    water_quality wq ON v.record_id = wq.record_id
WHERE
  ar.true_water_source_score != wq.subjective_quality_score
  AND v.visit_count = 1
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 'well', 'well', 21160, 3, 10),
 ('KiRu29290', 'shared_tap', 'shared_tap', 7938, 3, 10),
 ('KiHa22748', 'tap_in_home_broken', 'tap_in_home_broken', 43140, 9, 10),
 ('SoRu37841', 'shared_tap', 'shared_tap', 18495, 6, 10),
 ('KiRu27884', 'well', 'well', 33931, 1, 10),
 ('KiZu31170', 'tap_in_home_broken', 'tap_in_home_broken', 17950, 9, 10),
 ('KiZu31370', 'shared_tap', 'shared_tap', 36864, 3, 10),
 ('AkRu06495', 'well', 'well', 45924, 2, 10),
 ('HaRu17528', 'well', 'well', 30524, 1, 10),
 ('SoRu38331', 'shared_tap', 'shared_tap', 13192, 3, 10)]

So what I can see is that the types of sources look the same! So even though the scores are wrong, the integrity of the type_of_water_source data we analysed last time is not affected.

We can now remove the columns and JOIN statement for water_sources again.

# 3. Linking records to employees

Next up, let's look at where these errors may have come from. At some of the locations, employees assigned scores incorrectly, and those records
 ended up in this results set

 I think there are two reasons this can happen.
 1. These workers are all humans and make mistakes so this is expected.
 2. Unfortunately, the alternative is that someone assigned scores incorrectly on purpose!.

In either case, the employees are the source of the errors, so let's JOIN the assigned_employee_id for all the people on our list from the visits table to our query. Our query shows 102 incorrect records, so when we join the employee data, we can see which employees made these incorrect records

In [23]:
%%sql

SELECT
    v.location_id,
    v.record_id,
    e.employee_name,
    ar.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS employee_score
FROM
    visits v
JOIN
    auditor_report ar ON v.location_id = ar.location_id
JOIN
    water_quality wq ON v.record_id = wq.record_id
JOIN
    employee e ON v.assigned_employee_id = e.assigned_employee_id
WHERE
    ar.true_water_source_score != wq.subjective_quality_score
    AND v.visit_count = 1
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
20 rows affected.

[('AkRu05215', 21160, 'Rudo Imani', 3, 10),
 ('KiRu29290', 7938, 'Bello Azibo', 3, 10),
 ('KiHa22748', 43140, 'Bello Azibo', 9, 10),
 ('SoRu37841', 18495, 'Rudo Imani', 6, 10),
 ('KiRu27884', 33931, 'Bello Azibo', 1, 10),
 ('KiZu31170', 17950, 'Zuriel Matembo', 9, 10),
 ('KiZu31370', 36864, 'Yewande Ebele', 3, 10),
 ('AkRu06495', 45924, 'Bello Azibo', 2, 10),
 ('HaRu17528', 30524, 'Jengo Tumaini', 1, 10),
 ('SoRu38331', 13192, 'Zuriel Matembo', 3, 10),
 ('AmRu15556', 15461, 'Farai Nia', 9, 10),
 ('AmAm09607', 55067, 'Malachi Mavuso', 9, 10),
 ('AkHa00314', 29407, 'Zuriel Matembo', 9, 10),
 ('KiRu26598', 28874, 'Malachi Mavuso', 9, 10),
 ('KiIs23853', 55796, 'Bello Azibo', 2, 10),
 ('AkRu03475', 33630, 'Makena Thabo', 1, 10),
 ('KiIs24083', 28404, 'Lalitha Kaburi', 2, 10),
 ('AmAm09631', 14211, 'Malachi Mavuso', 9, 10),
 ('KiRu30343', 51075, 'Zuriel Matembo', 2, 10),
 ('AmRu13668', 10586, 'Gamba Shani', 9, 10)]

##### Well this query is massive and complex, so maybe it is a good idea to save this as a CTE, so when we do more analysis, we can just call that CTE like it was a table. Let's call it Incorrect_records.

In [25]:
%%sql

WITH Incorrect_records AS (
    SELECT
        v.location_id,
        v.record_id,
        e.employee_name,
        ar.true_water_source_score AS auditor_score,
        wq.subjective_quality_score AS employee_score
    FROM
        visits v
    JOIN
        water_source ws ON v.source_id = ws.source_id
    JOIN
        auditor_report ar ON v.location_id = ar.location_id
    JOIN
        water_quality wq ON v.record_id = wq.record_id
    JOIN
        employee e ON v.assigned_employee_id = e.assigned_employee_id
    WHERE
        ar.true_water_source_score != wq.subjective_quality_score
        AND v.visit_count = 1
)
SELECT *
FROM Incorrect_records
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 'Rudo Imani', 3, 10),
 ('KiRu29290', 7938, 'Bello Azibo', 3, 10),
 ('KiHa22748', 43140, 'Bello Azibo', 9, 10),
 ('SoRu37841', 18495, 'Rudo Imani', 6, 10),
 ('KiRu27884', 33931, 'Bello Azibo', 1, 10),
 ('KiZu31170', 17950, 'Zuriel Matembo', 9, 10),
 ('KiZu31370', 36864, 'Yewande Ebele', 3, 10),
 ('AkRu06495', 45924, 'Bello Azibo', 2, 10),
 ('HaRu17528', 30524, 'Jengo Tumaini', 1, 10),
 ('SoRu38331', 13192, 'Zuriel Matembo', 3, 10)]

#### Let's retrieve the employee_name column from the Incorrect_records table and counts the number of occurrences for each unique employee name using the COUNT(*) function.

In [26]:
%%sql

WITH  error_count AS (
    SELECT
        v.location_id,
        v.record_id,
        e.employee_name,
        ar.true_water_source_score AS auditor_score,
        wq.subjective_quality_score AS employee_score
    FROM
        visits v
    JOIN
        water_source ws ON v.source_id = ws.source_id
    JOIN
        auditor_report ar ON v.location_id = ar.location_id
    JOIN
        water_quality wq ON v.record_id = wq.record_id
    JOIN
        employee e ON v.assigned_employee_id = e.assigned_employee_id
    WHERE
        ar.true_water_source_score != wq.subjective_quality_score
        AND v.visit_count = 1
)
SELECT
    employee_name,
    COUNT(*) AS number_of_mistakes
FROM
     error_count
GROUP BY
    employee_name
ORDER BY
    number_of_mistakes DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
17 rows affected.

[('Bello Azibo', 26),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17),
 ('Lalitha Kaburi', 7),
 ('Rudo Imani', 5),
 ('Farai Nia', 4),
 ('Enitan Zuri', 4),
 ('Yewande Ebele', 3),
 ('Jengo Tumaini', 3),
 ('Makena Thabo', 3),
 ('Gamba Shani', 3),
 ('Thandiwe Kito', 1),
 ('Pili Zola', 1),
 ('Usafi Ayo', 1),
 ('Deka Osumare', 1),
 ('Ona Sefu', 1),
 ('Xola Uzuri', 1)]

It looks like some of our surveyors are making a lot of "mistakes" while many of the other surveyors are only making a few.

# 4. Gathering some evidence
Ok, so thinking about this a bit. How would we go about finding out if any of our employees are corrupt?

Let's say all employees make mistakes, if someone is corrupt, they will be making a lot of "mistakes", more than average, for example. But someone could just be clumsy, so we should try to get more evidence.

#### Let's start by cleaning up our code a bit. First

Incorrect_records is a result we'll be using for the rest of the analysis, but it makes the query a bit less readable. So, let's convert it to a VIEW. We can then use it as if it was a table. It will make our code much simpler to read.

So, replace WITH with CREATE VIEW:

In [27]:
%%sql

CREATE VIEW Incorrect_records AS (
 SELECT
     auditor_report.location_id,
     visits.record_id,
     employee.employee_name,
     auditor_report.true_water_source_score AS auditor_score,
     wq.subjective_quality_score AS employee_score,
     auditor_report.statements AS statements
 FROM
     auditor_report
 JOIN
     visits
     ON auditor_report.location_id = visits.location_id
 JOIN
     water_quality AS wq
     ON visits.record_id = wq.record_id
 JOIN
     employee
     ON employee.assigned_employee_id = visits.assigned_employee_id
 WHERE
     visits.visit_count =1
     AND auditor_report.true_water_source_score != wq.subjective_quality_score);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [29]:
%%sql

SELECT * 
FROM Incorrect_records
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 'Rudo Imani', 3, 10, "Villagers admired the official's visit for its respectful interactions, hard work, and genuine concern."),
 ('KiRu29290', 7938, 'Bello Azibo', 3, 10, 'A young artist sketches the faces in the queue, capturing the weariness of daily hours spent waiting for water.'),
 ('KiHa22748', 43140, 'Bello Azibo', 9, 10, "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('SoRu37841', 18495, 'Rudo Imani', 6, 10, "The official's respectful and diligent presence was met with heartfelt appreciation, creating a sense of closeness with the villagers."),
 ('KiRu27884', 33931, 'Bello Azibo', 1, 10, "A traditional healer's empathy turns to bitterness, knowing that corrupt practices harm her community."),
 ('KiZu31170', 17950, 'Zuriel Matembo', 9, 10, 'A community leader stood with his people, expressing concern for the water quality and the time lost in queues.","'),
 ('KiZu31370', 36864, 'Yewande Ebele', 3, 10, "With a keen understanding of urban challenges, the official's visit left a lasting impression of respect and commitment."),
 ('AkRu06495', 45924, 'Bello Azibo', 2, 10, 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.","'),
 ('HaRu17528', 30524, 'Jengo Tumaini', 1, 10, 'With humility and diligence, the official formed bonds with the villagers that felt like genuine family connections.'),
 ('SoRu38331', 13192, 'Zuriel Matembo', 3, 10, 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.')]

#### Next, we convert the query error_count, we made earlier, into a CTE.

In [30]:
%%sql

 WITH error_count AS (   -- This CTE calculates the number of mistakes each employee made
 SELECT
     employee_name,
     COUNT(employee_name) AS number_of_mistakes
 FROM
     Incorrect_records -- a view that joins audit report to the database for records where the auditor and employees scores are different
 GROUP BY
     employee_name
     ORDER BY number_of_mistakes DESC)     -- Query
                                                                        
 SELECT * FROM error_count;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
17 rows affected.

[('Bello Azibo', 26),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17),
 ('Lalitha Kaburi', 7),
 ('Rudo Imani', 5),
 ('Farai Nia', 4),
 ('Enitan Zuri', 4),
 ('Yewande Ebele', 3),
 ('Jengo Tumaini', 3),
 ('Makena Thabo', 3),
 ('Gamba Shani', 3),
 ('Thandiwe Kito', 1),
 ('Pili Zola', 1),
 ('Usafi Ayo', 1),
 ('Deka Osumare', 1),
 ('Ona Sefu', 1),
 ('Xola Uzuri', 1)]

#### Now we calculate the average of the number_of_mistakes in error_count.

In [32]:
%%sql

WITH error_count AS (
    SELECT
        employee_name,
        COUNT(employee_name) AS number_of_mistakes
    FROM
        Incorrect_records
    GROUP BY
        employee_name
)
SELECT
    ROUND(AVG(number_of_mistakes)) AS avg_error_count_per_empl
FROM
    error_count;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(Decimal('6'),)]

#### To find the employees who made more mistakes than the average person, we need the employee's names, the number of mistakes each one made, and filter the employees with an above-average number of mistakes.

In [33]:
%%sql

WITH error_count AS (
    SELECT
        employee_name,
        COUNT(employee_name) AS number_of_mistakes
    FROM
        Incorrect_records
    GROUP BY
        employee_name
)
SELECT
    employee_name,
    number_of_mistakes
FROM 
    error_count
WHERE number_of_mistakes > 
    (
    SELECT
        AVG(number_of_mistakes) AS avg_error_count_per_empl
    FROM
        error_count
    );

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[('Bello Azibo', 26),
 ('Zuriel Matembo', 17),
 ('Malachi Mavuso', 21),
 ('Lalitha Kaburi', 7)]

These are the employees who made more mistakes, on average, than their peers, so let's have a closer look at them.

We should look at the Incorrect_records table again, and isolate all of the records these four employees gathered. We should also look at the statements for these records to look for patterns.

First, convert the suspect_list to a CTE, so we can use it to filter the records from these four employees.

In [34]:
%%sql

WITH error_count AS (
    SELECT
        employee_name,
        COUNT(employee_name) AS number_of_mistakes
    FROM
        Incorrect_records
    GROUP BY
        employee_name
),
suspect_list AS (
SELECT
    employee_name,
    number_of_mistakes
FROM 
    error_count
WHERE number_of_mistakes > 
    (
    SELECT
        AVG(number_of_mistakes) AS avg_error_count_per_empl
    FROM
        error_count
    )
)


-- This query filters all of the records where the "corrupt" employees gathered data.
SELECT
    employee_name,
    location_id,
    statements
FROM
    Incorrect_records
WHERE
    employee_name in (SELECT employee_name FROM suspect_list);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
71 rows affected.

[('Bello Azibo', 'KiRu29290', 'A young artist sketches the faces in the queue, capturing the weariness of daily hours spent waiting for water.'),
 ('Bello Azibo', 'KiHa22748', "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('Bello Azibo', 'KiRu27884', "A traditional healer's empathy turns to bitterness, knowing that corrupt practices harm her community."),
 ('Zuriel Matembo', 'KiZu31170', 'A community leader stood with his people, expressing concern for the water quality and the time lost in queues.","'),
 ('Bello Azibo', 'AkRu06495', 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.","'),
 ('Zuriel Matembo', 'SoRu38331', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Malachi Mavuso', 'AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Zuriel Matembo', 'AkHa00314', "A street vendor's sales suffer from time spent waiting, her concern for the water's quality affecting her products."),
 ('Malachi Mavuso', 'KiRu26598', "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('Bello Azibo', 'KiIs23853', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception."),
 ('Lalitha Kaburi', 'KiIs24083', "A fisherman's anger boils beneath the surface, his livelihood threatened by the corrupt who tamper with water."),
 ('Malachi Mavuso', 'AmAm09631', 'An elderly man lamented the endless queue, recalling times when water was abundant and clean.","'),
 ('Zuriel Matembo', 'KiRu30343', "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('Malachi Mavuso', 'AkRu04116', "A student's ambition is fueled by the daily water struggle, his determination to overcome evident in the queue."),
 ('Malachi Mavuso', 'AmPw12272', "A subsistence farmer's worry for his crops extends to the queue, the struggle for water a shared community burden."),
 ('Bello Azibo', 'AmRu14691', "An artisan's creative mind is stifled by the wait, thoughts of craft overshadowed by concern for water quality."),
 ('Bello Azibo', 'KiRu29556', "A field worker's endurance is tested by anger, his toil a reminder of the corrupt practices that affect him daily."),
 ('Bello Azibo', 'KiZu30847', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Bello Azibo', 'AkHa00363', "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('Lalitha Kaburi', 'SoKo33094', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Bello Azibo', 'HaSe21323', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Malachi Mavuso', 'AmDa11466', "A seasonal laborer's exhaustion is compounded by the wait, the water's quality a reminder of the harsh reality."),
 ('Zuriel Matembo', 'KiRu27364', 'A mother of three stood in line for hours, worried about the water\'s color and what it might mean for her children\'s health.","'),
 ('Zuriel Matembo', 'AkRu05880', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism."),
 ('Bello Azibo', 'KiRu29696', "A grandmother's wisdom and patience in the queue are lessons in resilience, though her concern for water quality lingers."),
 ('Bello Azibo', 'KiRu27065', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Malachi Mavuso', 'KiRu25347', 'Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.'),
 ('Bello Azibo', 'AmRu14364', "A local musician's songs of joy are replaced with melodies of despair, inspired by the corrupt who control the water."),
 ('Bello Azibo', 'KiZu31100', "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('Zuriel Matembo', 'AkRu03973', "A health worker's frustration grows in the queue, knowing that corruption affects even the health of her community."),
 ('Bello Azibo', 'SoKo33333', "A community volunteer's dedication is tested by bitterness, her efforts often thwarted by corrupt officials."),
 ('Zuriel Matembo', 'SoIl32575', 'Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust.'),
 ('Zuriel Matembo', 'SoMa34366', "A soldier's disciplined waiting contrasts with the chaos of the line, his face betraying concern for his family back home."),
 ('Lalitha Kaburi', 'AkRu04935', "A child's homework is done in the queue, a stark reminder of the daily impact on education due to the water situation."),
 ('Zuriel Matembo', 'HaRu19244', "A politician's promises ring hollow in the queue, his absence noted by those waiting for clean water."),
 ('Bello Azibo', 'SoRu36708', "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('Bello Azibo', 'AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Bello Azibo', 'AkRu03848', "A local tailor's creativity is stifled by frustration, his work impacted by the corruption that taints the water."),
 ('Bello Azibo', 'AkLu02500', "A tour guide's enthusiasm is dampened by the water situation, his own wait in line a daily challenge."),
 ('Lalitha Kaburi', 'AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('Zuriel Matembo', 'AmRu14245', "A retiree's patient waiting masks frustration with the water situation, her stories filled with memories of better days."),
 ('Malachi Mavuso', 'KiZu30932', "A village teacher frets over lost class time, her concern for her students mixed with worry for the water's quality."),
 ('Bello Azibo', 'KiAm22092', "A mother-to-be's gentle waiting in line is filled with hope and concern, the water's quality a looming worry."),
 ('Malachi Mavuso', 'KiRu29147', 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.","'),
 ('Lalitha Kaburi', 'SoIl32770', 'A factory worker\'s rough hands held empty containers, the long wait for water a symbol of daily struggles.","'),
 ('Bello Azibo', 'KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns."),
 ('Lalitha Kaburi', 'KiRu29329', "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives."),
 ('Bello Azibo', 'KiMr24919', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'HaRu20005', "A herdboy's simplicity is marred by disillusionment, his youthful trust eroded by the corrupt system around him."),
 ('Malachi Mavuso', 'AkHa00053', "A craftsman's pride is dimmed by resentment, his artistry affected by the corrupt who control the resources."),
 ('Zuriel Matembo', 'HaSe20888', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Zuriel Matembo', 'SoRu38401', "A village chief's dignified wait speaks of leadership and understanding, though the struggle for water weighs heavily."),
 ('Bello Azibo', 'AmRu14887', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Zuriel Matembo', 'HaRu20146', "An air of mistrust hung heavy as villagers described an official's aloof behavior and potential impropriety. The whisper of cash exchanges only fueled their apprehension."),
 ('Bello Azibo', 'AkRu05741', 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('Zuriel Matembo', 'AkKi00847', 'A young student missed school to fetch water, frustrated by the long wait and murky appearance.","'),
 ('Bello Azibo', 'HaYa21395', "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('Malachi Mavuso', 'AkRu03245', "A traditional basket weaver's hands rest in line, her daily work paused by the struggle for water."),
 ('Lalitha Kaburi', 'HaRu20544', "A traditional healer's thoughtful presence in the line speaks of understanding and empathy for the shared struggle."),
 ('Malachi Mavuso', 'KiRu30640', "A local mason's strength is tested by frustration, his work hindered by the corruption that controls resources."),
 ('Malachi Mavuso', 'SoMa34211', 'A teenager\'s dreams of studying were overshadowed by daily hours in the water line, frustration growing with each day.","'),
 ('Zuriel Matembo', 'SoRu38535', "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('Malachi Mavuso', 'SoRu36566', 'A small business owner counts lost hours as he stands in line, worrying about the water quality affecting his products.'),
 ('Malachi Mavuso', 'AmRu15719', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'AkRu08640', "A local preacher's prayers are tinged with anger, seeking justice from the corruption that plagues his flock."),
 ('Malachi Mavuso', 'AmRu13226', "A seasonal worker's exhaustion is fueled by anger, his daily struggle intensified by the corrupt system."),
 ('Zuriel Matembo', 'AmPw12480', "A village chief's dignity is marred by frustration, his leadership challenged by corruption at higher levels."),
 ('Bello Azibo', 'AmRu14842', "An elderly woman's weary eyes reflect the toll of daily hours spent in the queue, her thoughts on family back home."),
 ('Malachi Mavuso', 'AkRu03358', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Malachi Mavuso', 'AmRu13433', 'A child\'s playful innocence contrasted with the serious faces around, unaware of the water\'s questionable quality.","'),
 ('Malachi Mavuso', 'AmAm09956', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.')]

If we have a look, we notice some alarming statements about these four officials (look at these records: AkRu04508, AkRu07310, KiRu29639, AmAm09607, for example. See how the word "cash" is used a lot in these statements.
Lets 
Filter the records that refer to "cash"

In [35]:
%%sql

WITH error_count AS (
    SELECT
        employee_name,
        COUNT(employee_name) AS number_of_mistakes
    FROM
        Incorrect_records
    GROUP BY
        employee_name
),
suspect_list AS (
SELECT
    employee_name,
    number_of_mistakes
FROM 
    error_count
WHERE number_of_mistakes > 
    (
    SELECT
        AVG(number_of_mistakes) AS avg_error_count_per_empl
    FROM
        error_count
    )
)


-- This query filters all of the records where the "corrupt" employees gathered data.
SELECT
    employee_name,
    location_id,
    statements
FROM
    Incorrect_records
WHERE
    employee_name in (SELECT employee_name FROM suspect_list) AND statements LIKE '%cash%';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
19 rows affected.

[('Zuriel Matembo', 'SoRu38331', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Malachi Mavuso', 'AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Bello Azibo', 'KiIs23853', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception."),
 ('Bello Azibo', 'HaSe21323', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Zuriel Matembo', 'AkRu05880', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism."),
 ('Bello Azibo', 'KiRu27065', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Malachi Mavuso', 'KiRu25347', 'Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.'),
 ('Zuriel Matembo', 'SoIl32575', 'Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust.'),
 ('Bello Azibo', 'AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Lalitha Kaburi', 'AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('Bello Azibo', 'KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns."),
 ('Lalitha Kaburi', 'KiRu29329', "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives."),
 ('Bello Azibo', 'KiMr24919', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Zuriel Matembo', 'HaSe20888', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Bello Azibo', 'AmRu14887', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Zuriel Matembo', 'HaRu20146', "An air of mistrust hung heavy as villagers described an official's aloof behavior and potential impropriety. The whisper of cash exchanges only fueled their apprehension."),
 ('Bello Azibo', 'AkRu05741', 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('Malachi Mavuso', 'AmRu15719', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'AmAm09956', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.')]

So we can sum up the evidence we have for Zuriel Matembo, Malachi Mavuso, Bello Azibo and Lalitha Kaburi:
 1. They all made more mistakes than their peers on average.
 2. They all have incriminating statements made against them, and only them.