# Charting the course for Maji Ndogo's water future
Maji Ndogo: From analysis to action

As we step into this next phase, you will be shaping our raw data into meaningful views- providing essential information to decision-makers. This will enable us to discern the materials we need, plan our budgets, and identify the areas requiring immediate attention. We're not just analysing data; we're making it speak in a language that everyone involved in this mission can understand and act upon. Lastly, we'll be creating job lists for our engineers. Their expertise will be invaluable in tackling the challenges we face, but they can only do their  job effectively when they have clear, data-driven directions.

# Overview:

#### 1. Joining the pieces together:
Finding the data we need across the tables

#### 2. The last analysis:
Finding the final insights from our data

#### 3. Summary report:
Sharing our knowledge with the decision-makers

#### 4. A practical plan:
From analysis to action

In [3]:
# Load and activate the SQL extension to allows us to execute SQL in a Jupyter notebook.
# If you get an error here, make sure that mysql and pymysql is installed correctly.

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
# Establish a connection to the local database using the '%sql' magic command,
# Replace 'password' with our connection password and `db_name` with our database name.
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:November28!@localhost:3306/md_water_services

'Connected: root@md_water_services'

# 1. Joining the pieces together

Let's summarise the data we need, and where to find it:

All of the information about the location of a water source is in the location table, specifically the town and province of that water source.

water_source has the type of source and the number of people served by each source.

visits has queue information, and connects source_id to location_id. There were multiple visits to sites, so we need to be careful to include duplicate data (visit_count > 1 ).

well_pollution has information about the quality of water from only wells, so we need to keep that in mind when we join this table.

Things that spring to mind for me:

    1. Are there any specific provinces, or towns where some sources are more abundant?
    2. We identified that tap_in_home_broken taps are easy wins. Are there any towns where this is a particular problem?

#### Start by joining location to visits

In [5]:
%%sql

SELECT
    l.province_name,
    l.town_name,
    v.visit_count,
    v.location_id
FROM
    location l
JOIN
    visits v ON l.location_id = v.location_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Akatsi', 'Harare', 1, 'AkHa00000'),
 ('Akatsi', 'Harare', 1, 'AkHa00001'),
 ('Akatsi', 'Harare', 1, 'AkHa00002'),
 ('Akatsi', 'Harare', 1, 'AkHa00003'),
 ('Akatsi', 'Harare', 1, 'AkHa00004'),
 ('Akatsi', 'Harare', 1, 'AkHa00005'),
 ('Akatsi', 'Harare', 1, 'AkHa00006'),
 ('Akatsi', 'Harare', 1, 'AkHa00007'),
 ('Akatsi', 'Harare', 1, 'AkHa00008'),
 ('Akatsi', 'Harare', 1, 'AkHa00009')]

#### Now, we can join the water_source table on the key shared between water_source and visits

In [7]:
%%sql

SELECT
    l.province_name,
    l.town_name,
    v.visit_count,
    v.location_id,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
    location l
JOIN
    visits v ON l.location_id = v.location_id
JOIN
    water_source ws ON v.source_id = ws.source_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Akatsi', 'Harare', 1, 'AkHa00000', 'tap_in_home', 956),
 ('Akatsi', 'Harare', 1, 'AkHa00001', 'tap_in_home_broken', 930),
 ('Akatsi', 'Harare', 1, 'AkHa00002', 'tap_in_home_broken', 486),
 ('Akatsi', 'Harare', 1, 'AkHa00003', 'well', 364),
 ('Akatsi', 'Harare', 1, 'AkHa00004', 'tap_in_home_broken', 942),
 ('Akatsi', 'Harare', 1, 'AkHa00005', 'tap_in_home', 736),
 ('Akatsi', 'Harare', 1, 'AkHa00006', 'tap_in_home', 882),
 ('Akatsi', 'Harare', 1, 'AkHa00007', 'tap_in_home', 554),
 ('Akatsi', 'Harare', 1, 'AkHa00008', 'well', 398),
 ('Akatsi', 'Harare', 1, 'AkHa00009', 'well', 346)]

#### Note that there are rows where visit_count > 1. These were the sites our surveyors collected additional information for, but they happened at the same source/location.

To fix this, we can just select rows where visits.visit_count = 1.

In [9]:
%%sql

SELECT
    l.province_name,
    l.town_name,
    v.visit_count,
    v.location_id,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
    location l
JOIN
    visits v ON l.location_id = v.location_id
JOIN
    water_source ws ON v.source_id = ws.source_id
WHERE
    v.visit_count = 1
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Sokoto', 'Ilanga', 1, 'SoIl32582', 'river', 402),
 ('Kilimani', 'Rural', 1, 'KiRu28935', 'well', 252),
 ('Hawassa', 'Rural', 1, 'HaRu19752', 'shared_tap', 542),
 ('Akatsi', 'Lusaka', 1, 'AkLu01628', 'well', 210),
 ('Akatsi', 'Rural', 1, 'AkRu03357', 'shared_tap', 2598),
 ('Kilimani', 'Rural', 1, 'KiRu29315', 'river', 862),
 ('Akatsi', 'Rural', 1, 'AkRu05234', 'tap_in_home_broken', 496),
 ('Kilimani', 'Rural', 1, 'KiRu28520', 'tap_in_home', 562),
 ('Hawassa', 'Zanzibar', 1, 'HaZa21742', 'well', 308),
 ('Amanzi', 'Dahabu', 1, 'AmDa12214', 'tap_in_home', 556)]

#### Ok, now that we verified that the table is joined correctly, we can remove the location_id and visit_count columns. Add the location_type column from location and time_in_queue from visits to our results set.

In [10]:
%%sql

SELECT
    l.province_name,
    l.town_name,
    ws.type_of_water_source,
    l.location_type,
    ws.number_of_people_served,
    v.time_in_queue
FROM
    location l
JOIN
    visits v ON l.location_id = v.location_id
JOIN
    water_source ws ON v.source_id = ws.source_id
WHERE
    v.visit_count = 1
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Sokoto', 'Ilanga', 'river', 'Urban', 402, 15),
 ('Kilimani', 'Rural', 'well', 'Rural', 252, 0),
 ('Hawassa', 'Rural', 'shared_tap', 'Rural', 542, 62),
 ('Akatsi', 'Lusaka', 'well', 'Urban', 210, 0),
 ('Akatsi', 'Rural', 'shared_tap', 'Rural', 2598, 28),
 ('Kilimani', 'Rural', 'river', 'Rural', 862, 9),
 ('Akatsi', 'Rural', 'tap_in_home_broken', 'Rural', 496, 0),
 ('Kilimani', 'Rural', 'tap_in_home', 'Rural', 562, 0),
 ('Hawassa', 'Zanzibar', 'well', 'Urban', 308, 0),
 ('Amanzi', 'Dahabu', 'tap_in_home', 'Urban', 556, 0)]

#### Last one! Now we need to grab the results from the well_pollution table.

This one is a bit trickier. The well_pollution table contained only data for well. If we just use JOIN, we will do an inner join, so that only records that are in well_pollution AND visits will be joined. We have to use a LEFT JOIN to join theresults from the well_pollution table for well sources, and will be NULL for all of the rest.

In [11]:
%%sql

 SELECT
     water_source.type_of_water_source,
     location.town_name,
     location.province_name,
     location.location_type,
     water_source.number_of_people_served,
     visits.time_in_queue,
     well_pollution.results
 FROM
     visits
 LEFT JOIN
     well_pollution
     ON well_pollution.source_id = visits.source_id
 INNER JOIN
     location
     ON location.location_id = visits.location_id
 INNER JOIN
     water_source
     ON water_source.source_id = visits.source_id
 WHERE
     visits.visit_count = 1
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('river', 'Ilanga', 'Sokoto', 'Urban', 402, 15, None),
 ('well', 'Rural', 'Kilimani', 'Rural', 252, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Rural', 'Hawassa', 'Rural', 542, 62, None),
 ('well', 'Lusaka', 'Akatsi', 'Urban', 210, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Rural', 'Akatsi', 'Rural', 2598, 28, None),
 ('river', 'Rural', 'Kilimani', 'Rural', 862, 9, None),
 ('tap_in_home_broken', 'Rural', 'Akatsi', 'Rural', 496, 0, None),
 ('tap_in_home', 'Rural', 'Kilimani', 'Rural', 562, 0, None),
 ('well', 'Zanzibar', 'Hawassa', 'Urban', 308, 0, 'Contaminated: Chemical'),
 ('tap_in_home', 'Dahabu', 'Amanzi', 'Urban', 556, 0, None)]

#### So this table contains the data we need for this analysis. Now we want to analyse the data in the results set. I'll make it a VIEW so it is easier to share. I'll call it the combined_analysis_table.

In [12]:
%%sql

 CREATE VIEW combined_analysis_table AS
     SELECT
        water_source.type_of_water_source AS source_type,
        location.town_name,
        location.province_name,
        location.location_type,
        water_source.number_of_people_served AS people_served,
        visits.time_in_queue,
        well_pollution.results
     FROM
         visits
     LEFT JOIN
         well_pollution
         ON well_pollution.source_id = visits.source_id
     INNER JOIN
         location
         ON location.location_id = visits.location_id
     INNER JOIN
         water_source
         ON water_source.source_id = visits.source_id
     WHERE
         visits.visit_count = 1;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

# 2. The last analysis

We're building another pivot table! This time, we want to break down our data into provinces or towns and source types. If we understand where the problems are, and what we need to improve at those locations, we can make an informed decision on where to send our repair teams.

In [13]:
%%sql

 WITH province_totals AS (                     -- This CTE calculates the population of each province
     SELECT
         province_name,
         SUM(people_served) AS total_ppl_serv
     FROM
         combined_analysis_table
     GROUP BY
         province_name
 )
 SELECT
     ct.province_name,                                #These case statements create columns for each type of source and  results are aggregated and percentages are calculated
     ROUND((SUM(CASE WHEN source_type = 'river'
     THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS river,
     ROUND((SUM(CASE WHEN source_type = 'shared_tap'
     THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS shared_tap,
     ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
     THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS tap_in_home,
     ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
     THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS tap_in_home_broken,
     ROUND((SUM(CASE WHEN source_type = 'well'
     THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS well
 FROM
     combined_analysis_table ct
 JOIN
     province_totals pt ON ct.province_name = pt.province_name
 GROUP BY
     ct.province_name
 ORDER BY
     ct.province_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Akatsi', Decimal('5'), Decimal('49'), Decimal('14'), Decimal('10'), Decimal('23')),
 ('Amanzi', Decimal('3'), Decimal('38'), Decimal('28'), Decimal('24'), Decimal('7')),
 ('Hawassa', Decimal('4'), Decimal('43'), Decimal('15'), Decimal('15'), Decimal('24')),
 ('Kilimani', Decimal('8'), Decimal('47'), Decimal('13'), Decimal('12'), Decimal('20')),
 ('Sokoto', Decimal('21'), Decimal('38'), Decimal('16'), Decimal('10'), Decimal('15'))]

#### Let's aggregate the data per town now. 

Recall that there are two towns in Maji Ndogo called Harare. One is in Akatsi, and one is in Kilimani. Amina is another example. So when we just aggregate by town, SQL doesn't distin guish between the different Harare's, so it combines their results.

To get around that, we have to group by province first, then by town, so that the duplicate towns are distinct because they are in different town.¶

In [14]:
%%sql

 WITH town_totals AS (  # This CTE calculates the population of each town and Since there are two Harare towns, we have to group by province_name and town_name
    SELECT province_name, 
    town_name, 
    SUM(people_served) AS total_ppl_serv
 FROM
    combined_analysis_table
 GROUP BY 
    province_name,town_name
 )

 SELECT
     ct.province_name,
     ct.town_name,
     ROUND((SUM(CASE WHEN source_type = 'river'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
     ROUND((SUM(CASE WHEN source_type = 'shared_tap'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
     ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
     ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
     ROUND((SUM(CASE WHEN source_type = 'well'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
 FROM
     combined_analysis_table ct
 JOIN                                  ## Since the town names are not unique, we have to join on a composite key
     town_totals tt 
     ON ct.province_name = tt.province_name AND ct.town_name = tt.town_name
 GROUP BY                             ##We group by province first, then by town.
     ct.province_name,
     ct.town_name
 ORDER BY
     ct.town_name
     LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Amanzi', 'Abidjan', Decimal('2'), Decimal('53'), Decimal('22'), Decimal('19'), Decimal('4')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('22'), Decimal('25'), Decimal('16'), Decimal('30')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('14'), Decimal('19'), Decimal('24'), Decimal('42')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('24'), Decimal('3'), Decimal('56'), Decimal('9')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('49'), Decimal('24'), Decimal('20'), Decimal('4')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('11'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22'), Decimal('3')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('16'), Decimal('35'), Decimal('12'), Decimal('18')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('37'), Decimal('55'), Decimal('1'), Decimal('4')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('16'), Decimal('23'), Decimal('21'), Decimal('38'))]

### Before we jump into the data, let's store it as a temporary table first, so it is quicker to access.

In [15]:
%%sql

CREATE TEMPORARY TABLE town_aggregated_water_access
 WITH town_totals AS (  # This CTE calculates the population of each town and Since there are two Harare towns, we have to group by province_name and town_name
     SELECT province_name, town_name, 
     SUM(people_served) AS total_ppl_serv
 FROM combined_analysis_table
     GROUP BY province_name,town_name
 )

 SELECT
     ct.province_name,
     ct.town_name,
     ROUND((SUM(CASE WHEN source_type = 'river'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
     ROUND((SUM(CASE WHEN source_type = 'shared_tap'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
     ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
     ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
     ROUND((SUM(CASE WHEN source_type = 'well'
     THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
 FROM
     combined_analysis_table ct
 JOIN                                  ## Since the town names are not unique, we have to join on a composite key
     town_totals tt 
     ON ct.province_name = tt.province_name AND ct.town_name = tt.town_name
 GROUP BY                             ##We group by province first, then by town.
     ct.province_name,
     ct.town_name
 ORDER BY
     ct.town_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[]

# 3. Summary report

## Insights
Based on the data analysis, we have discovered the following insights:

1. **Water Sources in Maji Ndogo**: Most water sources in Maji Ndogo are located in rural areas.

2. **Shared Taps**: Approximately 43% of the population relies on shared taps, with an average of 2000 people sharing one tap.

3. **Water Infrastructure in Homes**: Around 31% of the population has water infrastructure in their homes. However, within this group:

   - 45% face non-functional systems due to issues with pipes, pumps, and reservoirs.
   - Broken infrastructure is observed in towns like Amina, the rural parts of Amanzi, and some towns across Akatsi and Hawassa.

4. **Wells**: About 18% of the population uses wells. However, only 28% of these wells are clean. This issue is prevalent in Hawassa, Kilimani, and Akatsi.

5. **Wait Times for Water**: Citizens often face long wait times for water, with an average wait time of more than 120 minutes. We observed the following patterns:

   - Long queues are experienced on Saturdays.
   - Morning and evening periods have longer queues.
   - Wednesdays and Sundays have shorter queues.

## Plan of Action
Based on the insights, we have devised a plan of action to address the water issues:

1. **Improving Water Sources**: Our efforts will focus on improving the water sources that affect the most people. The priority areas are:

   - Shared taps: Most people will benefit if we improve the shared taps first. We will send additional water tankers to the busiest taps on the busiest days while installing extra taps where needed.
   - Wells: We will install filters to purify the water and address contamination issues. For chemically polluted wells, we will install reverse osmosis (RO) filters, and for biological contamination, we will install UV filters. The long-term goal is to investigate the reasons behind the pollution of these sources.
   - Broken infrastructure: Repairing broken infrastructure offers significant impact, even with a single intervention. Fixing reservoirs or pipes connected to multiple taps can benefit many people. Priority towns for repair include Amina, Lusaka, Zuri, Djenne, and rural parts of Amanzi.

2. **Queue Time Reduction**: Our aim is to reduce queue times for shared taps to below 30 minutes, which aligns with UN standards. The following steps will be taken:

   - Send additional water tankers to the busiest taps on the busiest days, based on the queue time pivot table.
   - Install extra taps in towns with high usage of shared taps, such as Bello, Abidjan, and Zuri.

3. **Taps in Homes**: Installing taps in homes is a resource-intensive solution and better suited as a long-term goal. Currently, towns with short queue times for shared taps (<30 minutes) pose a logistical challenge for further reduction in waiting times.

4. **Rural Challenges**: As most water sources are in rural areas, our teams need to be aware of the challenges posed by road conditions, supplies, and labor in these areas. Repair and upgrade efforts will require additional planning and resources.

## Practical Solutions
To address the identified issues, we will implement the following practical solutions:

1. **Temporary Water Supply**: For communities relying on rivers, we will dispatch trucks to provide temporary water supply while drilling wells for a more permanent solution. The first province we will target is Sokoto.

2. **Water Purification**: For communities using wells, we will install filters to purify the water. Reverse osmosis (RO) filters will be installed for chemically polluted wells, and UV filters will be installed for biological contamination. RO filters will also be installed as a precautionary measure. Investigating and mitigating the pollution sources is a long-term goal.

3. **Additional Water Tankers**: To address the high demand for shared taps, we will send additional water tankers to the busiest taps on the busiest days. This will be based on the queue time pivot table. Simultaneously, we will initiate the installation of extra taps in towns with high usage, such as Bello, Abidjan, and Zuri.

4. **Infrastructure Repair**: Addressing broken infrastructure can have a significant impact. Repairing a single facility, such as a reservoir or pipe connected to multiple taps, can benefit many people. Priority towns for repair include Amina, Lusaka, Zuri, Djenne, and rural parts of Amanzi.

By implementing these solutions, we aim to improve access to clean and reliable water sources, reduce waiting times, and address infrastructure challenges.e shorter queues.

# 4. A practical plan
Our final goal is to implement our plan in the database. We have a plan to improve the water access in Maji Ndogo, so we need to think it through, and as our final task, create a table where our teams have the information they need to fix, upgrade and repair water sources. They will need the addresses of the places they should visit (street address, town, province), the type of water source they should improve, and what should be done to improve it. We should also make space for them in the database to update us on their progress. We need to know if the repair is complete, and the date it was completed, and give them space to upgrade the sources. Let's call this table Project_progress.

In [16]:
%%sql

 CREATE TABLE Project_progress (           ## Unique key for sources in case we visit the same source more than once in the future
     Project_id SERIAL PRIMARY KEY,
     source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,        # Each of the sources we want to improve should exist, and should refer to the source table. This ensures data integrity.
     Address VARCHAR(50),                    # Street address
     Town VARCHAR(30),
     Province VARCHAR(30),
     Source_type VARCHAR(50),
     Improvement VARCHAR(50),                          #What the engineers should do at that place
     Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),   #We want to limit the type of information engineers can give us, so we limit Source_status.
     Date_of_completion DATE,            #Engineers will add this the day the source has been upgraded.
     Comments TEXT                          # Engineers can leave comments. We use a TEXT type that has no limit on char length
 );

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

At a high level, the Improvements are as follows:
 1. Rivers → Drill wells
 2. wells: if the well is contaminated with chemicals → Install RO filter
 3. wells: if the well is contaminated with biological contaminants → Install UV and RO filter
 4. shared_taps: if the queue is longer than 30 min (30 min and above) → Install X taps nearby where X number of taps is calculated using X
 = FLOOR(time_in_queue / 30).
 5. tap_in_home_broken → Diagnose local infrastructure

####  Project_progress_query

In [17]:
%%sql

SELECT
     location.address,
     location.town_name,
     location.province_name,
     water_source.source_id,
     water_source.type_of_water_source,
     well_pollution.results
 FROM
     water_source
 LEFT JOIN
     well_pollution ON water_source.source_id = well_pollution.source_id
 INNER JOIN
     visits ON water_source.source_id = visits.source_id
 INNER JOIN
     location ON location.location_id = visits.location_id
 LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('2 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00000224', 'tap_in_home', None),
 ('10 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00001224', 'tap_in_home_broken', None),
 ('9 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00002224', 'tap_in_home_broken', None),
 ('139 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00003224', 'well', 'Clean'),
 ('17 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00004224', 'tap_in_home_broken', None),
 ('125 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00005224', 'tap_in_home', None),
 ('98 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00006224', 'tap_in_home', None),
 ('21 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00007224', 'tap_in_home', None),
 ('11 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00008224', 'well', 'Clean'),
 ('6 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00009224', 'well', 'Contaminated: Biological')]

## Step 4: In the following modified query, the WHERE clause is updated to filter the data based on the following conditions: 
 
-  visits.visit_count = 1  ensures that only records with  visit_count  equal to 1 are included. 
- The conditions within the parentheses  ( ... )  are combined with OR operators to include any of the following options: 
  -  well_pollution.results != 'Clean'  includes records where the well is not clean. 
  -  water_source.type_of_water_source IN ('tap_in_home_broken', 'river')  includes records where the source type is either 'tap_in_home_broken' or 'river'. 
  -  (water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= '30 minutes')  includes records where the source type is 'shared_tap' and the time in the queue is greater than or equal to '30 minutes'.

In [19]:
%%sql

SELECT
 location.address,
 location.town_name,
 location.province_name,
 water_source.source_id,
 water_source.type_of_water_source,
 well_pollution.results
 FROM
 water_source
 LEFT JOIN
 well_pollution ON water_source.source_id = well_pollution.source_id
 INNER JOIN
 visits ON water_source.source_id = visits.source_id
 INNER JOIN
 location ON location.location_id = visits.location_id
  WHERE
 visits.visit_count = 1
 AND (results != 'Clean'
 OR type_of_water_source IN ('tap_in_home_broken', 'river')
 OR (type_of_water_source = 'shared_tap' AND time_in_queue >= 30)
 )
 LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'SoIl32582224', 'river', None),
 ('129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'KiRu28935224', 'well', 'Contaminated: Biological'),
 ('18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'HaRu19752224', 'shared_tap', None),
 ('100 Mogadishu Road', 'Lusaka', 'Akatsi', 'AkLu01628224', 'well', 'Contaminated: Biological'),
 ('26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'KiRu29315224', 'river', None),
 ('104 Kenyatta Street', 'Rural', 'Akatsi', 'AkRu05234224', 'tap_in_home_broken', None),
 ('117 Kampala Road', 'Zanzibar', 'Hawassa', 'HaZa21742224', 'well', 'Contaminated: Chemical'),
 ('55 Fennec Way', 'Rural', 'Sokoto', 'SoRu35008224', 'shared_tap', None),
 ('52 Moroni Avenue', 'Rural', 'Sokoto', 'SoRu35703224', 'well', 'Contaminated: Biological'),
 ('51 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00070224', 'well', 'Contaminated: Chemical')]

#### Next, we modify the query by adding CASE statements to handle the different improvement scenarios. We replace the SELECT clause with the following:

In [21]:
%%sql

SELECT
     location.address,
     location.town_name,
     location.province_name,
     water_source.source_id,
     water_source.type_of_water_source,
     CASE
        WHEN well_pollution.results = 'Contaminated: Chemical' THEN 'Install RO filter'
        WHEN well_pollution.results = 'Contaminated: Biological' THEN 'Install UV filter'
        WHEN water_source.type_of_water_source = 'river' THEN 'Drill well'
        WHEN water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30 THEN CONCAT("Install ", FLOOR(time_in_queue/30), " taps nearby")
        WHEN water_source.type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
        ELSE 'No specific improvement identified'
    END AS improvement
 FROM
     water_source
 LEFT JOIN
     well_pollution ON water_source.source_id = well_pollution.source_id
 INNER JOIN
     visits ON water_source.source_id = visits.source_id
 INNER JOIN
     location ON location.location_id = visits.location_id
  WHERE
     visits.visit_count = 1
     AND (results != 'Clean'
     OR type_of_water_source IN ('tap_in_home_broken', 'river')
     OR (type_of_water_source = 'shared_tap' AND time_in_queue >= 30)
     )
     
     LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'SoIl32582224', 'river', 'Drill well'),
 ('129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'KiRu28935224', 'well', 'Install UV filter'),
 ('18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'HaRu19752224', 'shared_tap', 'Install 2 taps nearby'),
 ('100 Mogadishu Road', 'Lusaka', 'Akatsi', 'AkLu01628224', 'well', 'Install UV filter'),
 ('26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'KiRu29315224', 'river', 'Drill well'),
 ('104 Kenyatta Street', 'Rural', 'Akatsi', 'AkRu05234224', 'tap_in_home_broken', 'Diagnose local infrastructure'),
 ('117 Kampala Road', 'Zanzibar', 'Hawassa', 'HaZa21742224', 'well', 'Install RO filter'),
 ('55 Fennec Way', 'Rural', 'Sokoto', 'SoRu35008224', 'shared_tap', 'Install 8 taps nearby'),
 ('52 Moroni Avenue', 'Rural', 'Sokoto', 'SoRu35703224', 'well', 'Install UV filter'),
 ('51 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00070224', 'well', 'Install RO filter')]

#### Now that we have the data we want to provide to engineers, Let's populate the Project_progress table with the results of our query.

In [22]:
%%sql

INSERT INTO Project_progress (Address, Town, Province, source_id, Source_type, Improvement)
    SELECT
         location.address,
         location.town_name,
         location.province_name,
         water_source.source_id,
         water_source.type_of_water_source,
         CASE
            WHEN well_pollution.results = 'Contaminated: Chemical' THEN 'Install RO filter'
            WHEN well_pollution.results = 'Contaminated: Biological' THEN 'Install UV filter'
            WHEN water_source.type_of_water_source = 'river' THEN 'Drill well'
            WHEN water_source.type_of_water_source = 'shared_tap' AND visits.time_in_queue >= 30 THEN CONCAT("Install ", FLOOR(time_in_queue/30), " taps nearby")
            WHEN water_source.type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
            ELSE 'No specific improvement identified'
        END AS improvement
     FROM
         water_source
     LEFT JOIN
         well_pollution ON water_source.source_id = well_pollution.source_id
     INNER JOIN
         visits ON water_source.source_id = visits.source_id
     INNER JOIN
         location ON location.location_id = visits.location_id
      WHERE
         visits.visit_count = 1
         AND (results != 'Clean'
         OR type_of_water_source IN ('tap_in_home_broken', 'river')
         OR (type_of_water_source = 'shared_tap' AND time_in_queue >= 30)
         );

 * mysql+pymysql://root:***@localhost:3306/md_water_services
25398 rows affected.

[]

In [24]:
%%sql

SELECT *
FROM Project_progress
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(1, 'SoIl32582224', '36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'river', 'Drill well', 'Backlog', None, None),
 (2, 'KiRu28935224', '129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'well', 'Install UV filter', 'Backlog', None, None),
 (3, 'HaRu19752224', '18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'shared_tap', 'Install 2 taps nearby', 'Backlog', None, None),
 (4, 'AkLu01628224', '100 Mogadishu Road', 'Lusaka', 'Akatsi', 'well', 'Install UV filter', 'Backlog', None, None),
 (5, 'KiRu29315224', '26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'river', 'Drill well', 'Backlog', None, None)]